#aWithoutTextHover:hover{
	text-decoration:none;
}
#cardAlbum:hover{
	transform: scale(1.02);
	border:solid silver 1px;
}
#cardAlbum{
	height: 350px;
}
#albumImg{
	object-fit:cover; height:281px; width:100%;
}
#fotoImg{
	object-fit:cover; height:200px; width:100%;
}
#fotoImg:hover{
	transform: scale(1.02);	
}
.bg-lightGreen{
	background-color: #b2f7c4;
}
.bg-black{
	background-color: black;
}
#cancelImg{
	position:absolute;
	top:0;
	right:0;
	width: 40px;
	height:auto;
}
#cancelImg:hover{
	transform: scale(1.1);
}
#upravAlbumBtn:hover{
	transform: scale(1.05);
}
#upravAlbumInput{
	width:60%;
}
#novaFotkaPanel{
	text-align: center;
	border-bottom: solid #e9ecef 25px;
	padding-bottom: 10px;
	border-radius: 0.25rem;
}
#inputNewAlbum{
	width: 90%;
}
#cancelImgPhoto{
	position:absolute;
	top:0;
	right:0;
	width: 20px;
	height:auto;
}
#cancelImgPhoto:hover{
	transform: scale(1.1);
}

.diskusie-header:hover{
	text-decoration: none;
	color: black;
}